.before {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.before button {
    padding: 10px;
    max-width: 200px;
    background-color: rgb(183, 209, 209);
    border-radius: 20px;
    border: rgb(214, 213, 213) solid 2px;
    font-size: larger;
}

.before button:hover {
    background-image: linear-gradient(to left, rgb(77, 188, 207), aqua);
    transition: 0.5s;
    border: black solid 2px
}

.before p {
    font-size: 35px;
}

.game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.full {
    height: 60px;
    width: 60px;
    background-color: gray;
    margin: 10px;
}

.egg,
.egg1,
.egg2,
.egg3,
.egg4,
.egg5,
.egg6,
.egg7,
.egg8,
.egg9,
.egg10,
.egg11,
.round,
.round1,
.round2,
.round3,
.round4,
.round5,
.round6,
.round7,
.round8,
.round9,
.round10,
.round11 {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.egg,
.egg1,
.egg2,
.egg3,
.egg4,
.egg5,
.egg6,
.egg7,
.egg8,
.egg9,
.egg10,
egg11 {
    background-color: blueviolet;
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    transform: rotate(-45deg);
}

.round,
.round1,
.round2,
.round3,
.round4,
.round5,
.round6,
.round7,
.round8,
.round9,
.round10,
.round11 {
    background-color: blueviolet;
    border-radius: 100%;
}

.dashed,
.dashed1,
.dashed2,
.dashed3,
.dashed4,
.dashed5,
.dashed6,
.dashed7,
.dashed8,
.dashed9,
.dashed10,
.dashed11 {
    height: 25px;
    width: 25px;
    background-color: blueviolet;
    border: white dashed 10px;
    margin: 10px;
}

.snow,
.snow1,
.snow2,
.snow3,
.snow4,
.snow5,
.snow6,
.snow7,
.snow8,
.snow9,
.snow10,
.snow11 {
    height: 25px;
    width: 25px;
    background-color: white;
    border: dashed 10px rgb(18, 18, 216);
    margin: 10px;
}

.triangle,
.triangle1,
.triangle2,
.triangle3,
.triangle4,
.triangle5,
.triangle6,
.triangle7,
.triangle8,
.triangle9,
.triangle10,
.triangle11 {
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 60px solid red;
    margin: 10px;
}

.egg,
.round,
.dashed {
    background-color: aqua;
}

.egg1,
.round1,
.dashed1 {
    background-color: rgb(255, 0, 21);
}

.egg2,
.round2,
.dashed2 {
    background-color: rgb(33, 36, 202);
}

.egg3,
.round3,
.dashed3 {
    background-color: rgb(36, 202, 100);
}

.egg4,
.round4,
.dashed4 {
    background-color: brown;
}

.egg5,
.round5,
.dashed5 {
    background-color: rgba(251, 255, 0, 0.932);
}

.egg6,
.round6,
.dashed6 {
    background-color: rgb(255, 0, 191);
}

.egg7,
.round7,
.dashed7 {
    background-color: rgba(0, 255, 85, 0.658);
}

.egg8,
.round8,
.dashed8 {
    background-color: rgb(12, 12, 12);
}

.egg9,
.round9,
.dashed9 {
    background-color: rgb(199, 160, 32);
}

.egg10,
.round10,
.dashed10 {
    background-color: rgba(84, 13, 165, 0.534);
}

.egg11,
.round11,
.dashed11 {
    background-color: rgb(102, 128, 9);
}

.snow {
    border-color: aqua;
}

.snow1 {
    border-color: rgb(255, 0, 21);
}

.snow2 {
    border-color: rgb(33, 36, 202);
}

.snow3 {
    border-color: rgb(36, 202, 100);
}

.snow4 {
    border-color: brown;
}

.snow5 {
    border-color: rgba(251, 255, 0, 0.932);
}

.snow6 {
    border-color: rgb(255, 0, 191);
}

.snow7 {
    border-color: rgba(0, 255, 85, 0.658);
}

.snow8 {
    border-color: rgb(12, 12, 12);
}

.snow9 {
    border-color: rgb(199, 160, 32);
}

.snow10 {
    border-color: rgba(84, 13, 165, 0.534);
}

.snow11 {
    border-color: rgb(102, 128, 9);
}

.triangle {
    border-top-color: aquamarine;
}

.triangle1 {
    border-top-color: rgb(255, 0, 21);
}

.triangle2 {
    border-top-color: rgb(33, 36, 202);
}

.triangle3 {
    border-top-color: rgb(36, 202, 100);
}

.triangle4 {
    border-top-color: brown;
}

.triangle5 {
    border-top-color: rgba(251, 255, 0, 0.932);
}

.triangle6 {
    border-top-color: rgb(255, 0, 191);
}

.triangle7 {
    border-top-color: rgba(0, 255, 85, 0.658);
}

.triangle8 {
    border-top-color: rgb(12, 12, 12);
}

.triangle9 {
    border-top-color: rgb(199, 160, 32);
}

.triangle10 {
    border-top-color: rgba(84, 13, 165, 0.534);
}

.triangle11 {
    border-top-color: rgb(102, 128, 9);
}