<div class="header">
    <div class="container">
        <div class="logo">
            <div class="logo-title">ESHOP</div>
            <span>Pirkite internetu</span>
        </div>
        <ul class="menu">
            <li>
                <a href="#">Apie mus</a>
            </li>
            <li>
                <a href="#">Naujienos</a>
            </li>
            <li>
                <a href="#">Kontaktai</a>
            </li>
            <li>
                <a href="#">Prisijungimas</a>
            </li>
            <li>
                <a href="#">Krepšelis</a>
            </li>
        </ul>
    </div>
</div>