<div class="header">
  <div class="container">
    <div class="logo">
      <img src="\assets\Puokste_originalus-copy.png" alt="" />
    </div>
    <div id="menu-bar">
      <ul class="menu">
        <li>
          <a routerLink="#">Apie mus</a>
        </li>
        <li>
          <a routerLink="#">Naujienos</a>
        </li>
        <li>
          <a routerLink="#">Kontaktai</a>
        </li>
        <li>
          <a routerLink="#">Prisijungimas</a>
        </li>
        <li>
          <a routerLink="#">Krepšelis</a>
        </li>
      </ul>
    </div>
  </div>
</div>
