@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
* {
    margin: 0;
    text-decoration: none;
}

main {
    max-width: 1600px;
    margin: auto;
    box-shadow: 30px 0px 40px rgb(0 0 0 / 10%), -30px 0px 40px rgb(0 0 0 / 10%);
    display: block;
    overflow: hidden;
    position: inherit;
    left: 10%;
    top: 21%;
    z-index: -1;
    border-radius: 1% 1% 1% 1%;
}

#main-column {
    display: inline-block;
    width: 85%;
}

#right-column {
    float: right;
    width: 15%;
}

footer {
    text-align: center;
    height: 17vh;
    display: flex;
    background-color: rgba(244, 244, 234, 1);
    justify-content: space-around;
}