
<h1>Prisijungti prie eshopo</h1>

<form ngNativeValidate #manoForma="ngForm" (ngSubmit)="loginForma(manoForma)">

    <label for="1">El. pašto adresas</label>
    <input id="1" type="email" name="email" required ngModel>

    <label for="2">slaptažodis</label>
    <input id="2" type="password" name="password" required ngModel>
   
    <a routerLink="/pass-recover">Priminti slaptažodį</a>
    <br>

    <button type="submit">Prisijungti</button>
<br>
    <a routerLink="/registracija">Esate naujas? Registruokites</a>

</form>