<div style="background-color: rgb(219, 250, 215);">
    <div class="product-container" *ngFor="let x of produktai">
        <img [src]="x.image" />
        <div class="apiePreke">
            <h2>{{x.title}}</h2>
            <!-- <p>{{x.description}}</p> -->
            <!-- <p class="kaina">{{x.price}} EUR </p> -->
            <!-- <p>Reitingas: {{x.rating.rate}} (Total: {{x.rating.count}})</p> -->
            <!-- <button class="mygtukas" (click)=addToCart(x)>Pirkti</button> -->
            <p class="kaina">
                <button class="mygtukas" (click)=addToCart(x)>Pirkti </button>  {{x.price}}EUR </p>



        </div>
    </div>


</div>