<div id="footer">
    <div id="footer-logo">
        <img style="width: 80%;"  src="\assets\Puokste_originalus-copy.png" alt="logo" />
    </div>
    <div id="kontaktai" *ngFor="let x of kontaktai">
            <p>Telefonas: &nbsp;<a href="tel:+370612123456">{{ x.telefonas}}</a></p>
            <p>E-mail'as: &nbsp; <a href="mailto:puokste@puokste.ly?subject=Paklausimas del geliu">{{ x.email}}</a></p>
            <p> Adresas: &nbsp;{{ x.adresas}}</p>
            <p> Miestas: &nbsp;{{ x.miestas}}</p>
            <p> Darbo laikas: &nbsp;{{ x.darbolaikas}}</p>
    </div>
   
</div>