
#footer {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

#listItem {
    list-style-type: none;
    min-width: 600px;
}

#kontaktai1 {
    display: flex;
    margin-top: -100px;
}

#footer-logo {
    display: flex;
    margin-top: -110px;
}