<div class="main">
    <div class="form">
        <button (click)="leidziam()">pridedam</button>
        <form [formGroup]="productAddForm" (ngSubmit)="onsubmit(productAddForm)">

            <div>
                <label for="id">Produkto ID</label>
                <input type="number" id="id" formControlName="id">
            </div>
            <div>
                <label for="title">Produkto pavadinimas</label>
                <input type="text" id="title" formControlName="title">
            </div>
            <div>
                <label for="price">Produkto kaina</label>
                <input type="number" id="price" formControlName="price">
            </div>
            <div>
                <label for="description">Aprasymas</label>
                <input type="text" id="description" formControlName="description">
            </div>
            <div>
                <label for="image">Paveikslelio nuoroda</label>
                <input type="text" id="image" formControlName="image">
            </div>




            <!-- <div formArrayName="categories">
                <label for="categories">Kategorijos</label>
                <button (click)="imamcia()">prideti</button>
                <div *ngFor="let x of iskurimsim.controls index as i">
                    <div [formGroupName]="i">
                        <input type="number" formControlName="categories">
                    </div>

                </div>
            </div> -->

            <div formArrayName="categories">
                <button (click)=pridedam()>Pridėti kategorija</button>
                <div *ngFor="let x of tuscia.controls; let i = index">
                    <div>

                    </div>

                </div>

            </div>


            <div formGroupName="rating">
                <label for="rating">Reitingas</label>
                <label for="ratingRate">reitingas(skaicius)</label>
                <input type="number" id="ratingRate" formControlName="rate">
                <label for="ratingCount">reitingas balsavo tiek zmoniu</label>
                <input type="number" id="ratingCount" formControlName="count">
            </div>
            <div>
                <label for="quantity">Produktu kiekis</label>
                <input type="number" id="quantity" formControlName="quantity">
            </div>

            <div>
                <button type="submit ">submit</button>
            </div>

        </form>

        <button (click)=leidziam()>paleisti</button>


    </div>


    <div>
        <p>Produktai is fb:</p>
        <div *ngFor="let x of naujas; let i=index">
            <p> {{i}} Pavadinimas: {{x.title}}</p>
            <p>Kategorijos: {{x.categories}}</p>

        </div>
    </div>


    <!-- <div class="preview ">
        <h1>{{productAddForm.value.title}}</h1>

        <img [src]="productAddForm.value.image " alt="Prekes nnuotrauka ">
        <p>{{productAddForm.value.description}}</p>
        <p>Priskirtos kategorijos: {{productAddForm.value.categories}} </p>
        <p>{{productAddForm.value.price}} €</p>
        <p>Reitingas: {{productAddForm.value.rating.rate}} ir balsavusiu kiekis: {{productAddForm.value.rating.count}}</p>
        <p>Likutis sandelyje: {{productAddForm.value.quantity}}</p>
    </div>
</div> -->