.baneris {
    background-color: rgba(244, 244, 234, 1);
 
    
    display: flex;
    
    justify-content: center;
    align-items:center;
    text-align:center;
    width: 300px;
    height: 400px;
    margin-bottom: 5px;
    margin-top: 20px;
    

}