.card {
  height: 60vh;
  margin: 25px;
  padding: 25px;
}
.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 280px;
  width: 350px;
  margin: 20px, 0px;
  margin-bottom: -40px;
}

.center {
  position: absolute;
  top: 60%;
  left:45%;
  transform: translate(-50%,-50%);
  text-align: center;

}