<app-left-category>
</app-left-category>

<div class="paieska">
    <span>Produktų paieška</span><input class="paieskosLaukelis" (input)="ieskojimas($event)">
</div>
<div class="sorting">
    <select #sortSelect (change)="sortByValue(sortSelect.value)">
        <option selected value="default">Rikiuoti pagal</option>
        <optgroup label="Kaina">
            <option value="price1">Pagal kainą nuo mažiausios</option>
            <option value="price2">Pagal kainą nuo didžiausios</option>
        </optgroup>
        <optgroup label="Pavadinimas">
            <option value="name1">Pagal pavadinimą nuo A iki Ž</option>
            <option value="name2">Pagal pavadinimą nuo Ž iki A</option>
        </optgroup>
        <optgroup label="Reitingas">
            <option value="rate1">Pagal reitingą nuo geriausio</option>
            <option value="rate2">Pagal reitingą nuo blogiausio</option>
        </optgroup>
        <optgroup label="Vertinimai">
            <option value="count1">Pagal vertinimų kiekį nuo didžiausio</option>
            <option value="count2">Pagal vertinimų kiekį nuo mažiausio</option>
        </optgroup>
    </select>
</div>

<div id="produktai">
    <div class="product-container" *ngFor="let x of currentProducts">
        <img [src]="x.image" />
        <div class="apiePreke">
            <div class="product-title-container">
                <a [title]="x.title + ' details'" [routerLink]="['/produktas', x.id]" routerLinkActive="on">
                    <h2>
                        {{(x.title.length>22)? (x.title | slice:0:22)+'...':(x.title)}}
                    </h2>
                </a>
            </div>
            <div class="product-bottom">
                <div class="product-bottom-content">
                    <button class="mygtukas" (click)=addToCart(x)>Pirkti </button>
                    <span class="kaina">{{x.price | number:'1.2-2'}} €</span>
                </div>
            </div>
        </div>
    </div>
</div>