#kategorijos {
    margin-top: 20px;
    float: left;
}

#kategoriju-listas li {
    list-style: none;
    padding: 15px;
}

#kategoriju-listas a {
    color: rgb(49, 49, 49);
    font-size: 17px;
    font-family: "Noto Serif", serif;
}

#kategoriju-listas a:hover {
    color: rgba(49, 49, 49, 0.473);
    transition: 200ms;
}

#produktu-kategorijos {
    background-color: rgba(244, 244, 234, 1);
    text-decoration: none;
    display: flex;
    width: 300px;
    height: 400px;
    margin-bottom: 45px;
    position: sticky;
    top: 400px;
}

#produktai {
    width: calc(100% - 330px);
    float: left;
}

.paieska {
    margin: 15px;
}

.paieskosLaukelis {
    margin-top: 10px;
    margin-left: 550px;
    width: 200px;
}

.sorting {
    margin: 5px;
    margin-right: 40px;
    float: right;
}

.sorting select {
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}