<app-left-category></app-left-category>
<div *ngIf="currentPreke">
    <div class="main">
        <div class="main1">
            <img [src]="currentPreke.image">
        </div>
        <div class="main20">
            <div class="main2">
                <h1>{{currentPreke.title}}</h1>
                <p class="reitingas">Reitingas: {{currentPreke.rating.rate}} balsavo: {{currentPreke.rating.count}}</p>
            </div>

            <div class="main22">
                <p class="description">{{currentPreke.description}}</p>
                <!-- <p>Reitingas: {{currentPreke.rating.rate}} balsavo: {{currentPreke.rating.count}}</p> -->
                <!-- <p>Kaina {{currentPreke.price}} €</p> -->
                <button (click)="addTOCart(currentPreke)">Pirkti {{currentPreke.price}} €</button>
            </div>
        </div>
    </div>

</div>
<div *ngIf="!currentPreke">
    <p> preke nerasta</p>
</div>