.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 30px; */

}

.main img {
    height: 600px;
    width: 200x;
    margin-right: 20px;
    margin-left: 20px;
}

.main button {
    text-align: center;
    margin-bottom: 10px;
    background-color: chocolate;
    /* margin-right: 10px; */
    /* padding: 10px 15px; */
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    border: solid 3px chocolate;
    color: #fff;
}

.main button:hover {
    border-color: rgb(109, 52, 12);
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.main20{
    
    flex-direction: column;
}
.main2 {
    flex: 1;
    text-align: center;
    height: 200px;
    /* justify-content: space-around; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.main22{
    flex: 1;
    text-align: center;
    height: 400px;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 70px;
}
.reitingas{
    font-size: 12px;
    margin-top: 10px;
}