<app-left-category></app-left-category>
<div *ngIf="currentPreke">
    <div class="main">
        <div class="main1">
            <img [src]="currentPreke.image">
        </div>
        <div class="palyginti"><input type="checkbox" [checked]="palyginti(this.currentPreke)" id="palyginti" name="palyginti[]">
            <label for="palyginti">Įtraukti į palyginimą</label>
        </div>
        <div class="main20">
            <div class="main2">
                <h1>{{currentPreke.title}}</h1>

                <p class="reitingas">Reitingas: {{currentPreke.rating.rate}} balsavo: {{currentPreke.rating.count}}</p>
                <p *ngIf="currentPreke.quantity>1">Prekių likutis: {{currentPreke.quantity}}</p>
                <p *ngIf="currentPreke.quantity==1">
                    Prekių likutis: {{currentPreke.quantity}}
                    <span class="last">
                        Paskutinė prekė
                    </span>
                </p>
                <p *ngIf="currentPreke.quantity<1">Prekės nėra sandėlyje</p>
            </div>

            <div class="main22">
                <p class="description">{{currentPreke.description}}</p>
                <!-- <p>Reitingas: {{currentPreke.rating.rate}} balsavo: {{currentPreke.rating.count}}</p> -->
                <!-- <p>Kaina {{currentPreke.price}} €</p> -->
                <button *ngIf="currentPreke.quantity>=1" (click)="addTOCart(currentPreke)">Pirkti {{currentPreke.price}} €</button>
                <button *ngIf="currentPreke.quantity<1" (click)="inform(currentPreke)">Domina</button>
            </div>
        </div>
    </div>

</div>
<div *ngIf="!currentPreke">
    <p> preke nerasta</p>
</div>