.apvadas {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 3;
    
}

.irasas {
    font-size: 18px;
    padding: 15px;
}
.paveiksliukas {
    height: 480px;
    width: 640px;
}

.mygtukas {
    display: flex;
    justify-content: center;
    
}

.mygtukasStyle {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.mygtukasStyle:hover {
    background-color: #0e8bff;
    color: white;
  }